/* Cores */

$green: #3d833d;
$yellow: rgb(240, 240, 0);
$blue: #3434c2;
$red: #ed2939;

/* Tipografia */

$text-family: "Kanit", sans-serif;

/* teste */

/* breackpoints */
$tablet: 700px;
$smallDesktop: 900px;
$desktop: 1024px;
